<div>
  <h3>Upcoming Angular Events</h3>
  <hr>
  <div class="row">
    <div *ngFor="let event of events" class="col-md-5">
      <event-thumbnail #thumbnail [event]="event" (click)="handleThumbnailClick(event.name)"></event-thumbnail>
    </div>
  </div>
</div>
