<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>{{event?.name | uppercase}}</h2>
  <div>Date: {{event?.date | date: 'shortDate'}}</div>
  <div [ngSwitch]="event?.time" [ngStyle]="getStartTimeStyle()"><!--[ngClass]="getStartTimeClass()"-->Time: {{event?.time}}
    <span *ngSwitchCase="'8:00 am'">(Early start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late start)</span>
    <span *ngSwitchDefault="">(Normal start)</span>
  </div>
  <div>Price: {{event?.price | currency: 'USD'}}</div>
  <div *ngIf="event?.location">
    <span>Location: {{event?.location?.address}}</span>
    <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">Online URL: {{event?.onlineUrl}}</div>
</div>
