<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid &&
          (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input [(ngModel)]="userName"
             id="userName"
             name="userName"
             type="text"
             class="form-control"
             placeholder="User Name..."
             required />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid &&
          (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
      <input [(ngModel)]="password"
             id="password"
             name="password"
             type="password"
             class="form-control"
             placeholder="Password..."
             required />
    </div>
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
  <br>
  <div *ngIf="loginInvalid" class="alert alert-danger" style="border-radius: 5px">Invalid Login Info</div>
</div>
<!--<div class="col-md-2">
  loginForm.valid: <br>
  loginForm.invalid: <br>
  loginForm.dirty: <br>
  loginForm.pristine: <br>
  loginForm.submitted: <br>
  loginForm.touched: <br>
  loginForm.untouched: <br>
</div>
<div class="col-md-1">
  {{loginForm.valid}}<br>
  {{loginForm.invalid}}<br>
  {{loginForm.dirty}}<br>
  {{loginForm.pristine}}<br>
  {{loginForm.submitted}}<br>
  {{loginForm.touched}}<br>
  {{loginForm.untouched}}<br>
</div>-->
