<div class="row" *ngFor="let session of visibleSessions">
  <div *ngIf="auth.isAuthenticated()" class="col-md-1">
    <upvote (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
  </div>
  <div class="col-md-10">
    <collapsible-well>
      <div well-title>
        {{session.name}}
        <i [attr.title]="session.voters.length > 3 ?
        'votes: ' + session.voters.length : ''" *ngIf="session.voters.length > 3"
           class="glyphicon glyphicon-fire" style="color: red;"></i>
      </div>
      <div well-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </collapsible-well>
  </div>
</div>
